!!!
%html
  %head
    %title Finch - another twitter clone built with ruby
    %link{:href => "stylesheets/css/main.css", :rel => "stylesheet", :media => "all"}
    %script{:src => "js/jquery.js"}
    %script{:src => "js/jquery-ui.js"}
    %script{:src => "js/handlebars.js"}
    %script{:type=>"text/javascript"}
      src="//use.typekit.net/pkz7meb.js"
      try{Typekit.load();}catch(e){}


  %body
    %nav
      %ul.navigation
        %li
          %a{:href => "#"}
          Finch
        %li
          %a{:href => "#"}
          @username

    %main

    %section#peeps
      %h1 Peeps
      %ul
      - @peeps.each do |peep|
        %li
          %p#name #{peep.name}
          %p#username #{peep.username}
          %p#content #{peep.content}
      
    %footer
      %detail
        %p built by mala23

    %script{:src => "js/interface.js"}
